DAEMON_BIND_ADDR=127.0.0.1:8081
DAEMON_API_TOKEN=replace-me
DAEMON_STATE_FILE=/var/lib/game-host-daemon/state.json
DAEMON_DEFAULT_IMAGE=ubuntu:22.04
DAEMON_MINECRAFT_IMAGE=didstopia/minecraft-server:latest
DAEMON_RUST_IMAGE=ipajudd/rustgs:latest
DAEMON_HYTALE_IMAGE=ubuntu:22.04
DAEMON_BASE_VOLUME_DIR=/var/lib/game-host-daemon/servers
DAEMON_DEFAULT_WORKING_DIR=/home/container
DAEMON_DEFAULT_INTERNAL_PORT=25565
DAEMON_DEFAULT_START_COMMAND=sleep infinity
